<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela com os Bolos</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Tabela de Receitas</h1>
        <table>
            <tr>
                <th>
                    nomeBolo
                </th>
            
                <th>
                    imgBolo
                </th>
            
            
                <th>
                    ingredientes
                </th>
                
                <th>
                    ingredientes2
                </th>
            
                <th>
                    ingredientes3
                </th>
                <th>
                    ingredientes4
                </th>
                <th>
                    ingredientes5
                </th>
            </tr>
            {% for nomeBolo,imgBolo,ingredientes,ingredientes2,ingredientes3 in dados%}
            <tr>
                <td>
                    {{nomeBolo}}
                </td>
            
                <td>
                    ing src="{{imgBolo}}" alt = '' width = '120px' height = '120px'
                </td>
                <td>
                    {{ingredientes}}
                </td>
            
                <td>
                    {{ingredientes2}}
                </td>
            
                <td>
                    {{ingredientes3}}
                </td>
                <td>
                    {{ingredientes4}}
                </td>
                <td>
                    {{ingredientes5}}
                </td>
            </tr>
            {%endfor%}
            <tr>
                <td> 

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
        </table>
        <br>
        <a href="index.html" class="botao-bolo">Voltar ao Cadastro</a>
        <br>
    </div>
    
</body>
</html>